@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white;
}

.main-font{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
}

.margin-left{
    margin-left: auto;
}

.my-transparent{
    background-color: rgba(0,0,0,0.50);
}

.my-stroke{
    stroke: rgb(254 249 195);
}